<cfset save_employee="#application.employeesmanager.SaveEmployee(form)#" />

<!---<cfdump var="#save_employee#"/>--->

<cfset response = structNew() />
<cfset response['success'] = false />

<cfif structKeyExists(save_employee, 'recordCount') AND save_employee.recordCount EQ 1>
    <cfset response['success'] = true />
</cfif>

<cfset page_content = response />
