<cffile action="upload" fileField="image" destination="C:\ColdFusion9\wwwroot\coldfusion-fusebox5-test\assets\images" accept="image/jpeg" nameconflict="makeunique" />


<cfset renamed_file = "#createUUID()#.#cffile.serverFileExt#" />
<cffile action="rename" source="C:\ColdFusion9\wwwroot\coldfusion-fusebox5-test\assets\images\#cffile.clientFile#"  destination="C:\ColdFusion9\wwwroot\coldfusion-fusebox5-test\assets\images\#renamed_file#" />

<cfset response = structNew() />
<cfset response['success'] = true />
<cfset response['filename'] = #renamed_file# />
<cfset page_content = response />