<cfset variables.fname = "#form.firstname#" />
<cfset variables.lname = "#form.lastname#" />
<cfset variables.country = "#form.country#" />

<cfset m_dsp = "#application.traineesmanager.insertTrainee(firstname=fname, lastname=lname, country=country)#" />