<circuit access="internal">
    <fuseaction name="login">
        <include template="header" />
        <include template="login" />
        <include template="footer" />
    </fuseaction>
</circuit>

